.venv/
.venvs/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.pytest_cache/
.ipynb_checkpoints/
.env
/data/raw/*
!/data/raw/.gitkeep
/data/processed/*
!/data/processed/.gitkeep
/outputs/*
/third_party/*/
/baseline/*/
/result/*
/docs/ket_qua/*
